* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;

} 

body {
  font-family: "Inter", sans-serif;
  text-decoration: none;

}
  
.desktop {
  display: none;
}

.tablet {
  display: none;
}

.mobile {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  color: #A5ACBA;

}

h1 {
  color: #F9F9F9;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #A5ACBA;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;

}

.main-container {
  max-width: 375px;
  
  margin-inline: auto;
  background-color: #151B28;
}

.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: solid 1px #2E3545;
  margin-bottom: 32px;
}

/* header-end */

.hero-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
}

.toggle {
  margin-top: 24px;
  width: 343px;
  background-color: #2C3444;
  display: flex;
  padding: 4px;
  gap: 6px;
  border-radius: 5px;

}

.active-toggle {
  padding-inline: 58px;
  padding-block: 9px;
  background-color: #333B48;
  align-items: center;
  display: flex;
  color: #F9F9F9;
  border-radius: 5px;
}

.inactive-toggle {
  padding-inline: 58px;
  padding-block: 9px;
  background-color: #2C3444;
  align-items: center;
  display: flex;
  color: #A5ACBA;
  border-radius: 5px;
}

/* hero-section-end */

.pricing-plan-cards {
  background-color: #151B28;
  padding-inline: 16px;
  padding-block: 32px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  
}

.pricing-plan-card {
  background-color:#1C2534 ;
  padding: 24px;
  border-radius: 5px;
  border: #252D3C solid 1px;
}

.pricing {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  h2 {
    color: #F9F9F9;
  }
}

.plan-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: solid 1px #2E3545;
  padding-bottom: 16px;

  h5 {
    color:#F9F9F9 ;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -2%;
  }
}

.features {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.feature {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buy-button {
  width: 100%;
  background-color: #437EF7;
  border: none;
  padding-block: 12px;



  color: #F9F9F9;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 6px;
  
}


/* pricing-plan-card-end */

.icon-features {
  background-color: #fff;
  padding-inline: 18px;
  padding-block: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.icon-feature {
  h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272D37;
  margin-bottom: 12px;

  }
}

.icon {
  margin-bottom: 16px;
}
.learn-more {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: #437EF7;
  a {
    margin: 0;
  }
  

}

.title {
  background-color: #fff;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-inline: 16px;
  padding-bottom: 32px;

  h2 {
   color: #272D37;

  }

  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: center;

  }
}

/* title-end */

.sektor {
  background-color: #fff;
  padding-inline: 16px;
  padding-bottom: 32px;

  h6 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #437EF7;
    padding-bottom: 8px;
  }

  h3 {
  
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -2%;
    color: #252D3C;
    padding-bottom: 16px;

  }

  p {
    padding-bottom: 32px;
  }
}

.start-button {
  background-color: #437EF7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding-inline: 18px;
  padding-block: 12px;
  border-radius: 5px;

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #fff;

}

.sektor-text {
  margin-bottom: 32px;
}

/* sektor-end */

.reviews {
  background-color:#F8F9FB ;
  padding-inline: 16px;
  padding-block: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;



  h3 {
    color: #272D37;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    text-align: center;
  }

  p {
    color: #272D37;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  span {
    color: #5F6D7E;
    
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;

  }
    
}

/* reviews-end */

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 16px ;
  padding-inline: 16px;
  padding-block: 12px;
  border-bottom: #2E3545 solid 1px;
}

.sign-button {
  width: 100%;
  background-color: #2E3545;
  border: none;
  padding-block: 12px;


  color: #F9F9F9;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 6px;
  
}

/* sign-up-end */
.footer {
  padding-inline: 16px;
  padding-block: 32px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: #272D37 solid 1px;
  img {
    align-self: flex-start;
  }
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 24px;
  margin-bottom: 24px;
 
  span {
    color: #F9F9F9;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;

  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  li {
    list-style: none;
  }

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;

  }
}

.socials {
  display: flex;
  gap:24px ;
}

@media (width < 850px) {

  .desktop {
  display: none;
  }

  .tablet {
    display: block;
  }

  .mobile {
    display: none;
  }


  h1 {

    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -1%;
    text-align: center;

  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -2%;
  }

  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;

  }
  .main-container {
    max-width: 768px;
    
  }

  .pricing-plan-cards {
  grid-template-columns: repeat(2, 1fr);

 }
  
  .icon-features {
    grid-template-columns: repeat(2, 1fr);

    padding-inline: 32px;
    padding-block: 40px;
    
  }

  .title {

    padding-inline: 32px;
    padding-block: 40px;
  }

  .sektor-text {
  p {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 32px;
  }

  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "review1 review2"
      "review3 review3";
    gap: 32px;
  }

  .reviews h3 {
    grid-area: title;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .review1 { grid-area: review1; }
  .review2 { grid-area: review2; }
  .review3 { grid-area: review3; }


  .sign-up {
    padding-block: 40px;

    h2 {
    padding-bottom: 32px;
    }
  }

  .buy-button {
    display: inline-block;
     width: 100%;
     padding: 10px 20px;
  }
}

@media (min-width: 1025px) {
  
}


